<div class="page" id="register">
	<div class="header">
		<div class="header-nav">
			<div class="header-section left"><a tap-directive="$navigate.go('/intro',true)"><img src="../images/arrowLeftLight@2x.png" border="0"/></a></div>
			<div class="header-section right"><img src="../images/createAccountHeader@2x.png" border="0"/></div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="text">Create an account to begin exploring things that inspire you!</div>
		</div>
		<div class="row">

			<div class="signin-section">
				<div class="row"><a tap-directive="$navigate.go('/reg-facebook')"><img src="../images/registerWithFacebookButton@2x.png" border="0"/></a></div>
				<div class="signin-divider">
					<div class="left"><img src="../images/hrGraphic@2x.png" border="0"/></div>
					<div class="right"><img src="../images/hrGraphic@2x.png" border="0"/></div>
					<div class="center"><img src="../images/orGraphic@2x.png" border="0"/></div>
				</div>
				<div class="row"><a tap-directive="$navigate.go('/reg-acton')"><img src="../images/registerWithEmailButton@2x.png" border="0"/></a></div>
			</div>

		</div>
	</div>
</div>