<div class="page dark" id="filter">
	<div class="header">
		<div class="header-nav">
			<div class="header-section-filter left"><a tap-directive="$navigate.go('/', true)">My Filters</a></div>
		</div>
	</div>
	<div class="content left dark">
		<div class="profile-menu" scrollable>
			<ul class="pmenu-main">
				<ul class="pmenu-sub">
					<li class="search"><a tap-directive="$navigate.go('/search')">Search</a></li>
					<li class="no-icon last"><a tap-directive="$navigate.go('/added')">Added</a></li>
				</ul>
				<li>Additional</li>
				<ul class="pmenu-sub">
					<li class="no-icon"><a tap-directive="$navigate.go('/organizations')">Organizations</a></li>
					<li class="no-icon last"><a tap-directive="$navigate.go('/interests')">Interests</a></li>
				</ul>
			</ul>
		</div>
	</div>
</div>
