<div class="page" id="intro">
	<div class="content">


		<div id="carousel">
			<div class="carousel-cover"></div>
			<ul>
				<li class="pane1"><img src="../images/Slide1-568h@2x.png" border="0"/></li>
				<li class="pane2"><img src="../images/Slide2-568h@2x.jpg" border="0"/></li>
				<li class="pane3"><img src="../images/Slide3-568h@2x.jpg" border="0"/></li>
				<li class="pane4"><img src="../images/Slide4@2x.jpg" border="0"/></li>
				<li class="pane5"><img src="../images/Slide5-568h@2x.jpg" border="0"/></li>
				<li class="pane6"><img src="../images/Slide6-568h@2x.jpg" border="0"/></li>
				<li class="pane7"><img src="../images/Slide7-568h@2x.jpg" border="0"/></li>
			</ul>
		</div>


	</div>
	<div class="footer">
		<div class="footer-nav">
			<div class="footer-section left"><a tap-directive="$navigate.go('/signin')"><img src="../images/signInButton@2x.png" border="0"/></a></div>
			<div class="footer-section right"><a tap-directive="$navigate.go('/reg')"><img src="../images/registerButtonOn@2x.png" border="0"/></a></div>
			<div class="footer-section center"><img src="../images/orGraphic@2x.png" border="0"/></div>
		</div>
	</div>
</div>
