<div class="page dark" id="tutorial">
	<div class="header profile">
		<div class="header-nav">
			<!--<div class="header-section-profile left"><img src="../images/neutralProfileIcon@2x.png" border="0"/></div>-->
			<div class="header-section-profile right"><a tap-directive="$navigate.go('/profile')"><img src="../images/arrowRightLight@2x.png" border="0"/></a></div>
			<div class="header-section-profile center">Tutorial</div>
		</div>
	</div>
	<div class="content left">


		<div id="carousel" hammer-swipeleft="swipe($event)" hammer-swiperight="swipe($event)">
			<div class="carousel-cover"></div>
			<ul>
				<li class="pane1"><img src="../images/walkthroughOverlay1-568h@2x.png" border="0"/></li>
				<li class="pane2"><img src="../images/walkthroughOverlay2-568h@2x.png" border="0"/></li>
				<li class="pane3"><img src="../images/walkthroughOverlay3-568h@2x.png" border="0"/></li>
				<li class="pane4"><img src="../images/walkthroughOverlay4-568h@2x.png" border="0"/></li>
			</ul>
		</div>


	</div>
</div>